@{
    ViewData["Title"] = "Sign Up";
}

<div class="login-page">
    <div class="login-container">
        <div class="left-container">
            <div class="form-container">
                <h1 class="form-title">Sign in to RateWise</h1>
                <button class="social-button">
                    <img src="search.png" alt="Google"> Login With Google
                </button>
                <button class="social-button">
                    <img src="communication.png" alt="Facebook"> Login With Facebook
                </button>
                <p class="divider">or Sign in With Email</p>
                <div class="form-group">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-input" placeholder="Enter Your Email Address">
                </div>
                <div class="form-group">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-input" placeholder="Enter Your Password">
                </div>
                <p class="forgot-password">Forgot Password?</p>
                <button class="submit-button">Sign In</button>
                <p class="bottom-text">Don't have an account? <a href="#">Sign up</a></p>
            </div>
        </div>
        <div class="right-container">
            <div class="image-container">
                <img src="laptop.png" class="laptop-image">
            </div>
        </div>
    </div>
</div>